#import sickbeard
#import datetime
#from sickbeard.common import *
#from sickbeard import db

#set global $title="Home"
#set global $header="Show List"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")

#set $myDB = $db.DBConnection()
#set $today = str($datetime.date.today().toordinal())

#set $downloads = ",".join([str(x) for x in $Quality.DOWNLOADED + [$ARCHIVED]])
#set $snatched = ",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])
#set $wanted = ",".join([str(x) for x in $Quality.WANTED])
#set $ignored = ",".join([str(x) for x in $Quality.IGNORED])
#set $episodes = $myDB.select("SELECT showid, SUM(CASE WHEN status IN ("+$downloads+") THEN 1 ELSE 0 END), SUM(CASE WHEN status IN ("+$snatched+") THEN 1 ELSE 0 END), SUM(CASE WHEN status IN ("+$wanted+") THEN 1 ELSE 0 END), SUM(CASE WHEN status IN ("+$ignored+") THEN 1 ELSE 0 END), SUM(CASE WHEN status = "+str($SKIPPED)+" THEN 1 ELSE 0 END), COUNT(*) FROM tv_episodes WHERE airdate <= "+$today+" GROUP BY showid")

#set $layout = $sickbeard.HOME_LAYOUT

<script type="text/javascript" charset="utf-8">
<!--

\$.tablesorter.addParser({
    id: 'loadingNames',
    is: function(s) {
        return false;
    },
    format: function(s) {
        if (s.indexOf('Loading...') == 0)
        #if not $sickbeard.SORT_ARTICLE:
            return (s || '').replace(/^(The|A|An)\s/i,'');
        #else:
            return (s || '');
        #end if
    },
    type: 'text'
});

\$.tablesorter.addParser({
    id: 'quality',
    is: function(s) {
        return false;
    },
    format: function(s) {
        return s.replace('HD1080p',5).replace('HD720p',4).replace('HD',3).replace('SD',2).replace('Any',1).replace('Best',0).replace('Custom',7);
    },
    type: 'numeric'
});

\$.tablesorter.addParser({
    id: 'eps',
    is: function(s) {
        return false;
    },
    format: function(s) {
        match = s.match(/^(.*)/);

        if (match == null || match[1] == "?")
            return -10;

        var nums = match[1].split(" / ");

        if (parseInt(nums[0]) === 0)
            return parseInt(nums[1]);

        var finalNum = parseInt((nums[0]/nums[1])*1000)*100;
        if (finalNum > 0)
            finalNum += parseInt(nums[0]);

        return finalNum;
    },
    type: 'numeric'
});

\$(document).ready(function(){

    \$("img#network").on('error', function(){
        \$(this).parent().text(\$(this).attr('alt'));
        \$(this).remove();
    });

    \$("#showListTable:has(tbody tr)").tablesorter({

            sortList: [[6,0],[2,0]],
            textExtraction: {
            #if ( $layout != 'simple'):
                3: function(node) { return \$(node).find("img").attr("alt"); },
            #end if
                4: function(node) { return \$(node).find("span").text(); },
                6: function(node) { return \$(node).find("img").attr("alt"); }
            },
            widgets: ['saveSort', 'zebra'],
            headers: {
                0: { sorter: 'isoDate' },
                2: { sorter: 'loadingNames' },
                3: { sorter: 'network' },
                4: { sorter: 'quality' },
                5: { sorter: 'eps' },
            }
    });

});

//-->
</script>

#if $varExists('header')
    <h1 class="header">$header</h1>
#else
    <h1 class="title">$title</h1>
#end if

<div id="Legend">
    <span><b>Legend:</b>
    <span class='good' style="font-size: 12px">Downloaded</span>
    <span class='snatched' style="font-size: 12px">Snatched</span> &middot;
    <span class='wanted' style="font-size: 12px">Wanted</span> &middot;
    <span class='skipped' style="font-size: 12px">Ignored/Skipped</span> &middot;
    </span>
</div>
<div id="HomeLayout" style="float: right; margin-top: -25px;">
    <span><b>Layout:</b>
        <a class="inner" href="$sbRoot/setHomeLayout/?layout=poster" style="font-size: 12px;">Poster</a> &middot;
        <a class="inner" href="$sbRoot/setHomeLayout/?layout=banner" style="font-size: 12px;">Banner</a> &middot;
        <a class="inner" href="$sbRoot/setHomeLayout/?layout=simple" style="font-size: 12px;">Simple</a>
    </span>
</div>

<table id="showListTable" class="sickbeardTable tablesorter" cellspacing="1" border="0" cellpadding="0">

  <thead><tr><th class="nowrap">Next Ep</th>#if $layout=="poster" then "<th>Poster</th>" else "<th style='display: none;'></th>"#<th>Show</th><th>Network</th><th>Quality</th><th>Episodes</th><th>Active</th><th>Status</th></tr></thead>
  <tfoot>
    <tr>
      <th rowspan="1" colspan="1" align="center"><a href="$sbRoot/home/addShows/">&nbsp Add Show</a></th>
      <th rowspan="1" colspan="7"></th>
    </tr>
  </tfoot>
  <tbody>

#for $curLoadingShow in $sickbeard.showQueueScheduler.action.loadingShowList:

  #if $curLoadingShow.show != None and $curLoadingShow.show in $sickbeard.showList:
    #continue
  #end if

  <tr>
    <td align="center">(loading)</td>
    <td></td>
    <td>
    #if $curLoadingShow.show == None:
    Loading... ($curLoadingShow.show_name)
    #else:
    <a href="displayShow?show=$curLoadingShow.show.tvdbid">$curLoadingShow.show.name</a>
    #end if
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
#end for

#set $myShowList = $list($sickbeard.showList)
$myShowList.sort(lambda x, y: cmp(x.name, y.name))
#for $curShow in $myShowList:
  #set $curEp = $curShow.nextEpisode()
  #set $details = [$episode for $episode in $episodes if int($episode[0]) == $curShow.tvdbid][0]
  #set $tvdbid = $details[0]
  #set $downloaded = $details[1]
  #set $snatched = $details[2]
  #set $wants = $details[3]
  #set $ignored = $details[4]
  #set $skipped = $details[5]
  #set $total = $details[6]

  #set $which_thumb = $layout+"_thumb"

  <tr>
    <td align="center" class="nowrap" style="color: #555555;font-weight:bold;">#if len($curEp) != 0 then $curEp[0].airdate else ""#</td>
    #if $layout == 'poster':
        <td>
            <div class="imgHomeWrapper $layout">
                <a href="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$layout" rel="dialog" title="$curShow.name">
                    <img src="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$which_thumb" class="$layout" alt="$curShow.tvdbid"/>
                </a>
            </div>
        </td>
        <td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
    #else if $layout == 'banner':
        <td style="display: none;"/>
        <td>
            <span style="display: none;">$curShow.name</span>
            <div class="imgHomeWrapper imgHomeWrapperRounded $layout">
                <a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">
                <img src="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$which_thumb" class="$layout" alt="$curShow.tvdbid" title="$curShow.name"/>
            </div>
        </td>
    #else if $layout == 'simple':
        <td style="display: none;"/>
        <td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
    #end if
    <!--<td align="center">$curShow.network</td>//-->
    <td align="center" style="color: #555555;font-weight:bold;">
    #if $layout != 'simple':
        #if $curShow.network:
            <img id="network" width="44.8" height="22.4" src="$sbRoot/images/network/${curShow.network.lower()}.png" alt="$curShow.network" title="$curShow.network" />
        #else:
            <img id="network" width="44.8" height="22.4" src="$sbRoot/images/network/nonetwork.png" alt="No Network" title="No Network" />
        #end if
    #else:
        $curShow.network
    #end if
    </td>

#if $curShow.quality in $qualityPresets:
    <td align="center"><span class="quality $qualityPresetStrings[$curShow.quality]">$qualityPresetStrings[$curShow.quality]</span></td>
#else:
    <td align="center"><span class="quality Custom">Custom</span></td>
#end if
    <td align="center">
#if $layout != 'simple':
        <div id="chart$curShow.tvdbid" style="width:100px; height:100px;"></div>
        <script type="text/javascript">
        <!--
            \$(document).ready(function() {
                chart$curShow.tvdbid = \$.jqplot('chart$curShow.tvdbid', [[
                                            ['Wants', $wants],
                                            ['Snatched', $snatched],
                                            ['Ignored', $ignored],
                                            ['Downloaded', $downloaded],
                                            ['Skipped', $skipped]
                                        ]], {
                                            seriesDefaults:{
                                                renderer: \$.jqplot.PieRenderer,
                                                rendererOptions: {
                                                    showDataLabels: true,
                                                    dataLabels: 'value',
                                                    shadowDepth: 2,
                                                    shadowAlpha: 0.2,
                                                    padding: 2,
                                                }
                                            },
                                            seriesColors: [ "#F49AC1", "#EFEFEF", "#90D5EC", "#AAD450", "#90D5EC" ],
                                            legend: {
                                                show: false,
                                            },
                                            grid: {
                                                drawGridlines: false,
                                                drawBorder: false,
                                                shadow: false,
                                                background: "rgba(255,255,255,0)"
                                            }
                                        });
            });
        //-->
        </script>
#else:
    <span class='good'>$downloaded</span><span class="snatched">$snatched</span><span class="wanted">$wants</span><span class="skipped">$ignored/$skipped</span>
#end if
    </td>
    <td align="center"><img src="$sbRoot/images/#if int($curShow.paused) == 0 and $curShow.status != "Ended" then "yes16.png\" alt=\"Y\"" else "no16.png\" alt=\"N\""# width="16" height="16" /></td>
    <td align="center" style="color: #555555; font-weight: bold;">$curShow.status</td>
  </tr>


#end for
</tbody>
</table>

<script type="text/javascript" src="$sbRoot/js/tableClick.js?$sbPID"></script>
#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")
